altair
streamlit
pandas
numpy
matplotlib
vega_datasets
matplotlib-inline
matplotlib-venn
openpyxl
plotly
psutil
scikit-learn
scipy
snowflake-connector-python
tqdm


https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0.tar.gz#egg=en_core_web_sm
